{% extends "unlogged.html" %}
{% block content %}

<div class="wrapper">
    <div class="col2">
        <form id="signup" method="post">
            <h2>Activate Now!</h2>
            <input type="text" id="email" name="email" value="{{email}}" placeholder="Email Address"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="text" id="activate" name="activate" placeholder="Activation Key"><br>
            <a href="/password">Forgot your password?</a><br>
            <input type="submit" name="submit" value=" Activate "><br>
            <div class="error_show">{{error}}</div>
        </form>
    </div>
</div>

        <script>
            $(function(){
                $('#activate').on('input', function() {
					var input=$(this);
					var is_name=input.val();
					if(is_name){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $('#email').on('input', function() {
					var input=$(this);
					var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
					var is_email=re.test(input.val());
					if(is_email){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $('#password').on('input', function() {
					var input=$(this);
                    var pw = /^(?=.*\d)(?=.*[a-z]).{6,20}$/;     
					var is_password=pw.test(input.val());
					if(is_password){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $("#signup").submit(function(){
				    var form_data=$('#signup').serializeArray();
                    var error_free=true;
                    for (var input in form_data){
					   var element=$('#'+form_data[input]['name']);
					   var valid=element.hasClass("valid");
                       var error_element=$("span", element.parent());
					   if (!valid){error_element.removeClass("error").addClass("error_show"); error_free=false;}
					   else{error_element.removeClass("error_show").addClass("error");}
				    }
				    if (!error_free){
					   event.preventDefault(); 
				    }
				    else{
                        document.getElementById("#signup").submit();
				    }
                });
            });
        </script>

        
{% endblock %}