{% extends "unlogged.html" %}
{% block content %}

<div class="wrapper">
    <div class="col2">
        <form id="signup" method="post">
            <h2>Password Reset</h2>
            <p>Enter your email and we will send you a code to reset your password.</p>
            <input type="text" id="email" name="email" value="{{email}}" placeholder="Email Address"><br>
            <input type="submit" name="submit" value=" Get Code "><br>
            <div class="error_show">{{error}}</div>
        </form>
    </div>
</div>

        <script>
            $(function(){
                $('#email').on('input', function() {
					var input=$(this);
					var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
					var is_email=re.test(input.val());
					if(is_email){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $("#signup").submit(function(){
				    var form_data=$('#signup').serializeArray();
                    var error_free=true;
                    for (var input in form_data){
					   var element=$('#'+form_data[input]['name']);
					   var valid=element.hasClass("valid");
                       var error_element=$("span", element.parent());
					   if (!valid){error_element.removeClass("error").addClass("error_show"); error_free=false;}
					   else{error_element.removeClass("error_show").addClass("error");}
				    }
				    if (!error_free){
					   event.preventDefault(); 
				    }
				    else{
                        document.getElementById("#signup").submit();
				    }
                });
            });
        </script>

{% endblock %}