{% extends base %}
{% block content %}

        <div class="wrapper">
            <div class="col2">
            <form id="signup" method="post">
                <h2>Sign Up Below!</h2>
                <div>
                    <input type="text" id="first_name" name="first_name" placeholder="First Name" value="{{first_name}}">
                    <input type="text" id="last_name" name="last_name" placeholder="Last Name" value="{{last_name}}">
                    <span class="error">Could I get your full name please?</span>
                </div>
                <div>
                    <input type="text" id="email" name="email" placeholder="Email" value="{{email}}">
                    <span class="error">How shall I contact you?</span>
                    <span>{{error_email}}</span>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <span class="error">Don't worry, I'll keep your password secret.</span>
                    <br><span id="pw_req">6 character minimum, include at least 1 number and 1 letter</span>
                </div>
                <div>
                    <input type="password" id="verify" name="verify" placeholder="Re-enter Password">
                    <span class="error">Hmmm, seems like your passwords don't match.</span>
                </div>
                <div>
                    <input type="submit" id="submit" value="     Sign Up Today!     ">
                </div>
            </form>
            </div>
        </div>
        
        <script>
            $(function(){
                $('#first_name').on('input', function() {
					var input=$(this);
					var is_name=input.val();
					if(is_name){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $('#last_name').on('input', function() {
					var input=$(this);
					var is_name=input.val();
					if(is_name){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $('#email').on('input', function() {
					var input=$(this);
					var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
					var is_email=re.test(input.val());
					if(is_email){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $('#password').on('input', function() {
					var input=$(this);
                    var pw = /^(?=.*\d)(?=.*[a-z]).{6,20}$/;     
					var is_password=pw.test(input.val());
					if(is_password){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $('#verify').on('input', function() {
					var input=$(this);
					var pwd = $('#password').val();
					if(input.val()==pwd){input.removeClass("invalid").addClass("valid");}
					else{input.removeClass("valid").addClass("invalid");}
				});
                $("#signup").submit(function(){
				    var form_data=$('#signup').serializeArray();
                    var error_free=true;
                    for (var input in form_data){
					   var element=$('#'+form_data[input]['name']);
					   var valid=element.hasClass("valid");
                       var error_element=$("span", element.parent());
					   if (!valid){error_element.removeClass("error").addClass("error_show"); error_free=false;}
					   else{error_element.removeClass("error_show").addClass("error");}
				    }
				    if (!error_free){
					   event.preventDefault(); 
				    }
				    else{
                        document.getElementById("#signup").submit();
				    }
                });
            });
        </script>

{% endblock %}